<form action="/edit-post/<%= post._id %>" method="post">
    <label for="title"><b>Title</b></label>
    <input type="text" name="title" value="<%= post.title %>" required>

    <label for="body"><b>Content</b></label>
    <textarea name="body" cols="50" rows="10" required><%= post.body %></textarea>
    
    <input type="submit" value="Update Post" class="btn">
</form>

