

<header class="header">
    <a href="/" class="header_logo">Admin Panel</a>
    <nav class="header_nav">
        
        <ul class="header_ul">

            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
            <li>
                <a href="/contact">contact</a>
            </li>
        </ul>
    </nav>
    <div class="serach">
        <button >logout
        
        </button>
    </div>
</header>