

    <header class="header">
        <a href="/" class="header_logo">MY BLOG</a>
        <nav class="header_nav">
            
            <ul class="header_ul">

                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/admin">login</a>
                </li>
                <li>
                    <a href="/contact">contact</a>
                </li>
            </ul>
        </nav>
        <div class="serach">
            <button class="searchBTN" aria-expanded="false">search
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            </button>
        </div>
    </header>