<div class="searchBar">
    <div class="container">
        <form action="/search" method="post" role="search">
            <input 
            type="search"
            area-label="search"
            class="searchInput"
            name="=searchTerm"
            placeholder="search the site..."/>
        </form>
        <div class="searchClose">close</div>
    </div>
</div>